.winner-selection-body {
    background-image: url('/src/assests/imgs/selectwinner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}
.screenwinnerselection{
    font-family: 'Lufga Medium', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.button-container {
    display: flex;
    gap: 20px; 
    padding: 20px;
    
}
.button-container button {
    border-radius: 20px;
    padding: 20px 30px;
    font-size: 25px;
}