.winners-body {
    background-image: url('/src/assests/imgs/Podium.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.winners-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.winnersname{
    display: flex;
    justify-content: space-between; 
    width: 80%; 
    padding: 20px;
    
}
.winners-container h3{
    font-family: 'Lufga Bold', sans-serif;
    color: white; 
    font-size: 35px;

}
.winners-container h4{
    font-family: 'Lufga Medium', sans-serif;
    color: white; 
    font-size: 30px;
}