/* aquí pongo la fuente global */

@font-face {
    font-family: 'Lufga Thin';
    src: url('/src/assets/fonts/LufgaThin.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lufga Light';
    src: url('/src/assets/fonts/LufgaLight.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lufga Regular';
    src: url('/src/assets/fonts/LufgaRegular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lufga Medium';
    src: url('/src/assets/fonts/LufgaMedium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lufga SemiBold';
    src: url('/src/assets/fonts/LufgaSemiBold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lufga Bold';
    src: url('/src/assets/fonts/LufgaBold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lufga ExtraBold';
    src: url('/src/assets/fonts/LufgaExtraBold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lufga Black';
    src: url('/src/assets/fonts/LufgaBlack.ttf') format('truetype');
  }
  
  
/* cositas globales */

button{
    background-color: #4101F6;
    color: white;
    padding: 15px 15px;
    margin: 8px 8px;
    border: none;
    border-radius: 38px;
    cursor: pointer;
    font-family: 'Lufga Medium', sans-serif;
    font-size: 16px;
}

  body {
    font-family: 'Lufga Regular', sans-serif;
    background-color: #191919;
    overflow: hidden;
    top: 0%;
    left: 0%;
  }

  h1 {
    font-family: 'Lufga Bold', sans-serif;
    font-size: 36px;
    color: #CFF665;
  }

  h2 {
    font-family: 'Lufga Bold', sans-serif;
    font-size: 30px;
    color: #F238A7;
  }
  
  p {
    font-family: 'Lufga Regular', sans-serif;
    font-size: 20px;
    color: #ffffff;
  }
  