/* aquí pongo la fuente global */

@font-face {
    font-family: 'Lufga';
    src: url('/src/assets/fonts/LufgaThin.ttf') format('truetype');

  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('/src/assets/fonts/LufgaLight.ttf') format('truetype');

  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('/src/assets/fonts/LufgaRegular.ttf') format('truetype');

  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('/src/assets/fonts/LufgaMedium.ttf') format('truetype');

  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('/src/assets/fonts/LufgaSemiBold.ttf') format('truetype');

  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('/src/assets/fonts/LufgaBold.ttf') format('truetype');

  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('/src/assets/fonts/LufgaExtraBold.ttf') format('truetype');

  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('/src/assets/fonts/LufgaBlack.ttf') format('truetype');

  }
  


button{
    background-color: #4101F6;
    color: white;
    padding: 15px 15px;
    margin: 8px 8px;
    border: none;
    border-radius: 38px;
    cursor: pointer;
}
  